<!doctype html>
<html ng-app="App" ng-controller="time1">
<head>
    <meta charset="utf-8">
    <title>张大海个人博客-往期文章</title>
    <meta name="keywords" content="{{seo.keywords}}"/>
    <meta name="description" content="{{seo.description}}"/>
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="icon" href="/jhlf.ico" type="images/x-ico">
    <link href="css/base.css" rel="stylesheet">
    <link href="css/m.css" rel="stylesheet">
    <link href="../src/layui/css/layui.css" rel="stylesheet">
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/comm.js"></script>
    <script src="js/page.js"></script>
    <script src="../src/layui/layui.js"></script>
    <script src="../src/angular.js"></script>
    <!--[if lt IE 9]>
    <script src="js/modernizr.js"></script>
    <![endif]-->

</head>
<body>
<!--top begin-->
<header id="header">
    <div class="navbox">
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <div class="logo"><a href="javascript:;">大海の小丸子 ~博客</a></div>
        <nav>
            <ul id="starlist">
                <li><a href="/">首页</a></li>
                <li><a href="emotion.html">真情实感</a></li>
                <li><a href="code.html">Code笔记</a></li>
                <li><a href="time.html">往期文章</a></li>
                <li><a href="about.html">关于我</a></li>
            </ul>
        </nav>
        <div class="searchico"></div>
    </div>
</header>
<div class="searchbox">
    <div class="search">
            <input name="keyboard" id="keyboard" class="input_text" value="请输入关键字词" style="color: rgb(153, 153, 153);"
                   onfocus="if(value=='请输入关键字词'){this.style.color='#000';value=''}"
                   onblur="if(value==''){this.style.color='#999';value='请输入关键字词'}" type="text" ng-model="key">
            <input name="show" value="title" type="hidden">
            <input name="tempid" value="1" type="hidden">
            <input name="tbname" value="news" type="hidden">
            <input name="Submit" class="input_submit" value="搜索" type="submit" ng-click="submit()" style="cursor: pointer">
    </div>
    <div class="searchclose"></div>
</div>
<!--top end-->
<article>
    <div class="whitebg timebox">
        <h2 class="htitle">往期文章</h2>
        <ul id="list">
            <li ng-repeat="c in allNews" ng-if="allNews.length > 0"><span ng-bind="c.time| date: 'yyyy-MM-dd'"></span><i><a ng-click="read(c.id)" target="_blank" style="cursor:pointer">{{c.title}}</a></i></li>
			<center><p ng-if="allNews.length == 0">暂无数据！</p></center>
        </ul>
        <ul id="list2">
        </ul>
        <div class="clear"></div>
        <div id="laypage1"></div>

<style>
    #laypage1{ text-align: center;}
    .timebox #laypage1 span:after { width: 0; height: 0px;  }

</style>

    </div>
    </div>
</article>

<footer>
    <div class="box" style="text-align: center">
        <!--<div class="wxbox">-->
            <!--<ul>-->
                <!--<li><img src="images/wxgzh.jpg"><span>微信公众号</span></li>-->
                <!--<li><img src="images/wx.png"><span>我的微信</span></li>-->
            <!--</ul>-->
        <!--</div>-->
        <div class="endnav">
            <p><b>大海の小丸子 ~博客</b></p>
            <p>所有文章未经授权禁止转载、摘编、复制或建立镜像，如有违反，追究法律责任。举报邮箱：<a
                    href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=251630332@qq.com"
                    target="_blank">251630332@qq.com</a></p>
            <p>Copyright © 2019 <a href="/html/admin/page/login/login.html" target="_blank">小丸子科技</a> All Rights Reserved.
                备案号：<a href="http://www.miitbeian.gov.cn/" target="_blank"> 陕ICP备18012208号-1</a></p>
        </div>
    </div>
    <a href="#">
        <div class="top" ng-click="top()"></div>
    </a></footer>
</body>
<script src="../src/controller/time.js"></script>
</html>
